<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>devicelist</key>
	<array/>
	<key>modelist</key>
	<array>
		<dict>
			<key>change_type</key>
			<integer>1</integer>
			<key>light</key>
			<integer>10</integer>
			<key>mid</key>
			<integer>1</integer>
			<key>name</key>
			<string>白色不变</string>
			<key>speed</key>
			<integer>10</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change_type</key>
			<integer>1</integer>
			<key>light</key>
			<integer>10</integer>
			<key>mid</key>
			<integer>2</integer>
			<key>name</key>
			<string>红色渐变</string>
			<key>speed</key>
			<integer>10</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change_type</key>
			<integer>1</integer>
			<key>light</key>
			<integer>10</integer>
			<key>mid</key>
			<integer>3</integer>
			<key>name</key>
			<string>蓝色渐变</string>
			<key>speed</key>
			<integer>10</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change_type</key>
			<integer>1</integer>
			<key>light</key>
			<integer>10</integer>
			<key>mid</key>
			<integer>4</integer>
			<key>name</key>
			<string>绿色渐变</string>
			<key>speed</key>
			<integer>10</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change_type</key>
			<integer>1</integer>
			<key>light</key>
			<integer>10</integer>
			<key>mid</key>
			<integer>5</integer>
			<key>name</key>
			<string>黄色渐变</string>
			<key>speed</key>
			<integer>10</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change_type</key>
			<integer>1</integer>
			<key>light</key>
			<integer>10</integer>
			<key>mid</key>
			<integer>6</integer>
			<key>name</key>
			<string>青色渐变</string>
			<key>speed</key>
			<integer>10</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change_type</key>
			<integer>1</integer>
			<key>light</key>
			<integer>10</integer>
			<key>mid</key>
			<integer>7</integer>
			<key>name</key>
			<string>紫色渐变</string>
			<key>speed</key>
			<integer>10</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change_type</key>
			<integer>1</integer>
			<key>light</key>
			<integer>10</integer>
			<key>mid</key>
			<integer>8</integer>
			<key>name</key>
			<string>白色渐变</string>
			<key>speed</key>
			<integer>10</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change_type</key>
			<integer>1</integer>
			<key>light</key>
			<integer>10</integer>
			<key>mid</key>
			<integer>9</integer>
			<key>name</key>
			<string>红绿渐变</string>
			<key>speed</key>
			<integer>10</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change_type</key>
			<integer>1</integer>
			<key>light</key>
			<integer>10</integer>
			<key>mid</key>
			<integer>10</integer>
			<key>name</key>
			<string>黄昏模式</string>
			<key>speed</key>
			<integer>10</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>change_type</key>
			<integer>1</integer>
			<key>light</key>
			<integer>10</integer>
			<key>mid</key>
			<integer>11</integer>
			<key>name</key>
			<string>夜晚模式</string>
			<key>speed</key>
			<integer>10</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>route</key>
	<dict>
		<key>ip</key>
		<string>192.168.1.1</string>
		<key>mac</key>
		<string>ddddddddd</string>
		<key>password</key>
		<string>88888888</string>
		<key>ssid</key>
		<string>1111</string>
	</dict>
</dict>
</plist>
